################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tic_Tac_Toe_vector_realisation/.vs/Tic_Tac_Toe_vector_realisation/v16/Browse.VC.opendb
